body{
    background-image: url('banner.png');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      
  }

*{
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 118%;
}

li{
    display: block;
    padding-bottom: 10px;
    font-style: italic;
    font-size: 110%;
}

