<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Acceuil</title>
    <link rel="stylesheet" href="acceuil.css">
    <stylesheet href="acceuil.css" rel="stylesheet">
</head>
<body>
    <h1>Bienvenue dans la librairie !</h1>
    <p>Que voulez vous faire ?</p>
    <ul>
        <li>Acceuil (vous êtes ici)</a></li>
        <li><a href="/views/consultation.html">Consulter les livres</a></li>
        <li><a href="/views/modification.php">Modifier les livre</a></li>
    </ul>
</body>
</html>
